/*************************************************/
/*************        COLORS         *************/
/*************************************************/
$white:       #141417;
$black:       #f7f7f7;
$gray:        #464646;
$pink:        #7c7c7c;
$green:       #8e8e8e;
$yellow:      #a0a0a0;
$blue:        #686868;
$purple:      #747474;
$cyan:        #868686;


/*************************************************/
/*************        ROOT CLASS     *************/
/*************************************************/
*{
  all: unset;
  background-color: $black;
  font-family: 'FantasqueSansMono Nerd Font Mono';
}

/*************************************************/
/*************      COLOR CLASSES    *************/
/*************************************************/
.pink{
  color: $pink;
}

.green{
  color: $green;
}

.yellow{
  color: $yellow;
}

.blue{
  color: $blue;
}

.purple{
  color: $purple;
}

.cyan{
  color: $cyan;
}

/*************************************************/
/*************      USER WEDGIT      *************/
/*************************************************/

.user{
  font-size: 18px;
  background-color: $white;
}

/*************************************************/
/*************      POWER WEDGIT      ************/
/*************************************************/

.power{
  font-size: 20px;
  padding: 0px;
}

/*************************************************/
/*************   DATE/TIME WEDGIT   **************/
/*************************************************/

.date{
  font-size: 42px;
  font-weight: 600;
}

.day{
  font-size: 13px;
  font-weight: 200;
}

.separator{
  font-size: 30px;
}

/*************************************************/
/*************      SCREENSHOT WEDGIT      ************/
/*************************************************/

.screenshot{
  font-size: 25px;
  padding: 15px;
}

/*************************************************/
/*************      SYSTEM WEDGIT     ************/
/*************************************************/

.metric-ram scale trough highlight , .metric-vol scale trough highlight , .metric-root scale trough highlight , .metric-disk scale trough highlight, .metric-bright scale trough highlight {
  all: unset;
  border-radius: 10px;
}

.metric-ram scale trough , .metric-vol scale trough , .metric-root scale trough , .metric-disk scale trough, .metric-bright scale trough {
  all: unset;
  background-color: $gray;
  border-radius: 4px;
  min-height: 10px;
  min-width: 80px;
  margin-left: 10px;
}

.metric-vol scale trough highlight {
  background-color: $purple;
}

.metric-lable {
  font-family: "Feather";
  font-size: 25px;
  font-weight: bolder;
}


/*************************************************/
/*************      FETCH WEDGIT     *************/
/*************************************************/

.fetch{
  font-size: 11px;
}


.dots{
  font-size: 15px;
}

/*************************************************/
/*************      PLAYER WEDGIT    *************/
/*************************************************/

.song{
  font-size: 0px;
}

.artist{
  font-size: 10px;
}

.control{
  font-size: 18px;
  font-weight: bold;
}

.metric-player  scale trough highlight {
  all: unset;
  border-radius: 4px;
  background-color: $yellow;
  
}

.metric-player scale trough  {
  all: unset;
  background-color: $gray;
  border-radius: 2px;
  min-height: 10px;
  
}

.metric-player scale trough  {
  min-width: 10px;
  
}

/*************************************************/
/*************    LOCATIONS WEDGIT   *************/
/*************************************************/

.locations{
  font-size: 30px;
  font-weight: bold;
}
